<style>
div#towerRoom{
    position:absolute;
    left: 50%
}
</style>
<div id=towerRoom></div>

<script name=rogueGameView>
this.use('piCanvas');
this.use('piReactor');
this.use('piAtlas');
this.use('picRect');
this.use('picRenderer');
this.use('sweeperMap');
this.use('player');

var
me = this,
reactor,
canvas,
floorLayer,
heroLayer,heroEnt,
onResize = function(){
    var
    style = towerRoom.style,
    h = this.clientHeight,
    w = 0.8 * h;

    if (w > this.clientWidth) w = this.clientWidth;
    style.width = w + 'px';
    style.height = h + 'px';
    style['margin-left'] = Math.floor(-w/2)+'px';

    me.piCanvas.resize(w, h);
    me.picRenderer.resizeContext(0, 0, w, h);
},
onLoad = function(){
    me.piAtlas.create('../res/img/fantasy-tileset.png', '../res/fantasy-tileset.json', function(err, tileSet){
        if (err) return alert(err);

        var
        towerRoom = document.querySelector('div#towerRoom'),
        rect = me.picRect,
        renderer = me.picRenderer,
        map = me.sweeperMap,
        player = me.player;

        canvas = me.piCanvas;
        canvas.init(towerRoom);
        floorLayer = canvas.addLayer('floor');
        heroLayer = canvas.addLayer('hero');

        renderer.registerContext('floor', floorLayer.getContext());
        renderer.registerContext('hero', heroLayer.getContext());

        reactor = me.piReactor.create();
        heroEnt = reactor.createEntity('hero');
        reactor.addPath(0, [player.update, map.update, renderer.draw]);
        reactor.route('move', [player.explore, map.explore]);

        heroEnt.attach(map, {tileSet:tileSet, tileWidth:32, tileHeight:32, floorWidth:8, floorHeight:8, level:0});
        heroEnt.attach(player, {tileSet:tileSet, job:'assasin'});
        heroEnt.attach(renderer, {floor:[map.moduleName], hero:[player.moduleName]});

        onResize.call(window);
    });
};

me.slot(pico.LOAD, onLoad);
window.addEventListener('resize', onResize, false);
</script>
