<style>
div#gameStage{
    position:absolute;
    left: 50%
}
</style>
<div id=gameStage></div>

<script name=gamePage>
this.use('piCanvas');
this.use('piReactor');
this.use('piAtlas');
this.use('picRect');
this.use('picTween');
this.use('picRenderer');
this.use('game');
this.use('camera');
this.use('sweeperMap');
this.use('uiWindow');

var
me = this,
onMouseDown = function(evt, x, y){
    me.game.go('move', {x:x, y:y});
},
resize = function(iw, ih){
    var
    style = gameStage.style,
    h, w;

    if (ih > iw){
        w = h = ih;
        //w = Math.ceil(0.8 * h);
        if (w > iw) w = iw;
    }else{
        h = w = iw;
        //h = Math.ceil(0.8 * w);
        if (h > ih) h = ih;
    }

    style.width = w + 'px';
    style.height = h + 'px';
    style.margin = '0 0 0 '+Math.floor(-w/2)+'px';

    me.piCanvas.resize(w, h);
    me.picRenderer.resizeContext('viewPane', 0, 0, w, h);
    me.picRenderer.resizeContext('uiPane', 0, 0, w, h);
    me.game.go('resize', [0,0,w,h]);
},
onResize = function(){
    resize(this.innerWidth, this.innerHeight);
},
onLoad = function(){
    me.piAtlas.create('../res/img/fantasy-tileset.png', '../res/fantasy-tileset.json', function(err, tileSet){
        if (err) return alert(err);

        var
        gameStage = document.querySelector('div#gameStage'),
        reactor = me.piReactor,
        rect = me.picRect,
        renderer = me.picRenderer,
        game = me.game,
        sweeper = me.sweeperMap,
        camera = me.camera,
        uiWindow = me.uiWindow,
        canvas = me.piCanvas,
        smallDevice = window.innerWidth > 800 || window.innerHeight > 800 ? false : true;

        canvas.init(gameStage);

        var
        gameLayer = canvas.addLayer('game'),
        uiLayer = canvas.addLayer('ui');

        renderer.registerContext('viewPane', gameLayer.getContext());
        renderer.registerContext('uiPane', uiLayer.getContext());
        renderer.setBG('viewPane', G_COLOR_TONE[3]);

        reactor.addGroup(game);

        sweeper.init(game, {tileSet:tileSet, smallDevice: smallDevice, mapLevel:0, heroJob:G_HERO.PRIEST});

        game.route('move', [uiWindow.click, sweeper.explore, renderer.draw]);
        game.route('resize', [camera.resize, uiWindow.resize, renderer.draw]);

        var
        cameraEnt = game.addEntity('camera'),
        uiWinEnts = [],
        uiWinEnt;

        uiWinEnts[0] = game.addEntity('uiPlayer');
        uiWinEnts[1] = game.addEntity('uiSkills');
        uiWinEnts[2] = game.addEntity('uiInventory');
        uiWinEnts[3] = game.addEntity('uiCreep');

        cameraEnt.attach(rect, {x:0, y:0, width:100, height:100});
        cameraEnt.attach(camera, {});
        cameraEnt.attach(sweeper, {});
        cameraEnt.attach(renderer, {viewPane:[camera.moduleName]});

        for(var i=0, l=uiWinEnts.length; i<l; i++){
            uiWinEnt = uiWinEnts[i];
            uiWinEnt.attach(rect, {x:0, y:0, width:0, height:0});
            uiWinEnt.attach(uiWindow, {theme: G_THEME.THEME8, background: G_COLOR_TONE[3], box:rect.moduleName});
            uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName]});
        }

        resize(window.innerWidth, window.innerHeight);
        canvas.slot(canvas.FINGER_DOWN, onMouseDown);
        window.addEventListener('resize', onResize, false);

        window.scrollTo(0, 1);
    });
};

me.slot(pico.LOAD, onLoad);
</script>
