<style>
div#gameStage{
    position:absolute;
    left: 50%
}
</style>
<div id=gameStage></div>

<script name=gamePage>
this.use('piCanvas');
this.use('piReactor');
this.use('piAtlas');
this.use('picRect');
this.use('picTween');
this.use('picRenderer');
this.use('m3Main');
this.use('game');
this.use('camera');
this.use('uiWindow');
this.use('bag');
this.use('info');
this.use('player');
this.use('dialogMsg');

var
me = this,
fingerStartPos = [0, 0],
fingerTracker,
cancelTracking = function(){
    me.game.stopLoop('fingerMove');
    me.game.go('fingerOut');
    fingerTracker = undefined;
},
onFingerDown = function(evt, x, y){
    fingerStartPos[0] = x;
    fingerStartPos[1] = y;
    me.game.go('fingerDown', [x, y]);
},
onFingerUp = function(evt, x, y){
    if (fingerTracker) cancelTracking() // is a move not a click
    else me.game.go('fingerUp', [x, y]);
},
onFingerMove = function(evt, x, y){
    if (fingerTracker){
        fingerTracker[0] = x;
        fingerTracker[1] = y;
    }else{
        fingerTracker = [x, y, fingerStartPos[0], fingerStartPos[1]];
        me.game.startLoop('fingerMove', fingerTracker);
    }
},
onFingerOut = function(evt, x, y){
    cancelTracking();
},
resize = function(iw, ih){
    var
    style = gameStage.style,
    h, w;

    if (ih > iw){
        w = h = ih;
        //w = Math.ceil(0.8 * h);
        if (w > iw) w = iw;
    }else{
        h = w = iw;
        //h = Math.ceil(0.8 * w);
        if (h > ih) h = ih;
    }

    style.width = w + 'px';
    style.height = h + 'px';
    style.margin = '0 0 0 '+Math.floor(-w/2)+'px';

    me.piCanvas.resize(w, h);
    me.picRenderer.resizeContext('viewPane', 0, 0, w, h);
    me.picRenderer.resizeContext('uiPane', 0, 0, w, h);
    me.game.go('resize', [0,0,w,h]);
},
onResize = function(){
    resize(this.innerWidth, this.innerHeight);
},
onLoad = function(){
    me.piAtlas.create('../res/img/fantasy-tileset.png', '../res/fantasy-tileset.json', function(err, tileSet){
        if (err) return alert(err);

        var
        gameStage = document.querySelector('div#gameStage'),
        reactor = me.piReactor,
        rect = me.picRect,
        renderer = me.picRenderer,
        game = me.game,
        camera = me.camera,
        uiWindow = me.uiWindow,
        bag = me.bag,
        info = me.info,
        player = me.player,
        dialogMsg = me.dialogMsg,
        canvas = me.piCanvas,
        smallDevice = window.innerWidth > 800 || window.innerHeight > 800 ? false : true;

        canvas.init(gameStage);

        var
        gameLayer = canvas.addLayer('game'),
        uiLayer = canvas.addLayer('ui');

        renderer.registerContext('viewPane', gameLayer.getContext());
        renderer.registerContext('uiPane', uiLayer.getContext());
        renderer.setBG('viewPane', G_COLOR_TONE[3]);

        reactor.addGroup(game);

        game.init({tileSet:tileSet, smallDevice: smallDevice, mapLevel:0, heroJob:Math.floor(G_HERO.ROGUE + Math.random()*(G_HERO.WARLOCK-G_HERO.ROGUE))});

        game.route('fingerDown', [uiWindow.checkBound, camera.checkBound, game.captureSelected, renderer.captureScreenshot]);
        game.route('fingerUp', [game.useSelected, bag.click, dialogMsg.click, uiWindow.click, camera.click, renderer.draw, game.releaseSelected]);
        game.route('fingerMove', [game.useSelected, uiWindow.swipe, camera.swipe, renderer.drawScreenshot]);
        game.route('fingerOut', [game.releaseSelected, renderer.releaseScreenshot, renderer.draw]);
        game.route('useItem', [bag.useItem, renderer.draw, game.releaseSelected]);
        game.route('resize', [camera.resize, uiWindow.resize, bag.resize, info.openIfValid, dialogMsg.openIfValid, renderer.draw]);
        game.route('heroMove', [game.heroMove, renderer.draw]);
        game.route('heroStop', [game.heroStop, renderer.draw]);
        game.route('gotoLevel', [game.gotoLevel, renderer.draw]);
        game.route('reborn', [game.reborn, renderer.draw]);
        game.route('showInfo', [info.open, renderer.draw]);
        game.route('hideInfo', [info.close, renderer.draw]);
        game.route('showDialog', [dialogMsg.open, renderer.draw, game.releaseSelected]);
        game.route('hideDialog', [dialogMsg.close, renderer.draw, game.releaseSelected]);

        var
        cameraEnt = game.addEntity('camera'),
        uiWinEnts = [],
        uiWinEnt;

        cameraEnt.attach(rect, {x:0, y:0, width:100, height:100});
        cameraEnt.attach(camera, {});
        cameraEnt.attach(renderer, {viewPane:[camera.moduleName]});

        uiWinEnts[0] = game.addEntity(G_WIN_ID.PLAYER);
        uiWinEnts[1] = game.addEntity(G_WIN_ID.SKILLS);
        uiWinEnts[2] = game.addEntity(G_WIN_ID.BAG);
        uiWinEnts[3] = game.addEntity(G_WIN_ID.INFO);
        uiWinEnts[4] = game.addEntity(G_WIN_ID.DIALOG);

        for(var i=0, l=uiWinEnts.length; i<l; i++){
            uiWinEnt = uiWinEnts[i];
            uiWinEnt.attach(rect, {x:0, y:0, width:0, height:0});
            uiWinEnt.attach(uiWindow, {theme: G_THEME.THEME8, background: G_COLOR_TONE[3], box:rect.moduleName});
        }
        uiWinEnt = uiWinEnts[0];
        uiWinEnt.attach(player, {win:uiWindow.moduleName, font:'bold 12pt sans-serif', fontColor:G_COLOR_TONE[1]});
        uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName, player.moduleName]});
        uiWinEnt = uiWinEnts[1];
        uiWinEnt.attach(bag, {name:'Skills', win:uiWindow.moduleName, font:'bold 12pt sans-serif', fontColor:G_COLOR_TONE[1]});
        uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName, bag.moduleName]});
        uiWinEnt = uiWinEnts[2];
        uiWinEnt.attach(bag, {name:'Bag', win:uiWindow.moduleName, font:'bold 12pt sans-serif', fontColor:G_COLOR_TONE[1]});
        uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName, bag.moduleName]});
        uiWinEnt = uiWinEnts[3];
        uiWinEnt.attach(info, {win:uiWindow.moduleName, font:'bold 12pt sans-serif', fontColor:G_COLOR_TONE[1]});
        uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName, info.moduleName]});
        uiWinEnt = uiWinEnts[4];
        uiWinEnt.attach(dialogMsg, {win:uiWindow.moduleName, font:'bold 12pt sans-serif', fontColor:G_COLOR_TONE[1]});
        uiWinEnt.attach(renderer, {uiPane:[uiWindow.moduleName, dialogMsg.moduleName]});

        resize(window.innerWidth, window.innerHeight);
        canvas.slot(canvas.FINGER_DOWN, onFingerDown);
        canvas.slot(canvas.FINGER_MOVE, onFingerMove);
        canvas.slot(canvas.FINGER_UP, onFingerUp);
        canvas.slot(canvas.FINGER_OUT, onFingerOut);
        window.addEventListener('resize', onResize, false);

        me.m3Main.hideLoading();
    });
};

me.slot(pico.LOAD, onLoad);
</script>
