<style>
div#gameStage{
    position:absolute;
    left: 50%
}
</style>
<div id=gameStage></div>

<script name=gamePage>
this.use('piCanvas');
this.use('piReactor');
this.use('piAtlas');
this.use('picRect');
this.use('picRenderer');
this.use('game');
this.use('camera');
this.use('sweeperMap');
this.use('uiPlayer');

var
me = this,
smallDevice = false,
canvas,
gameLayer,
cameraEnt, uiPlayer,
onMouseDown = function(evt, x, y){
    me.game.go('move', {x:x, y:y});
},
resize = function(iw, ih){
    var
    style = gameStage.style,
    h, w;

    if (ih > iw){
        h = ih;
        w = Math.ceil(0.8 * h);
        if (w > iw) w = iw;
    }else{
        w = iw;
        h = Math.ceil(0.8 * w);
        if (h > ih) h = ih;
    }

    style.width = w + 'px';
    style.height = h + 'px';
    style['margin-left'] = Math.floor(-w/2)+'px';

    me.piCanvas.resize(w, h);
    me.picRenderer.resizeContext('viewPane', 0, 0, w, h);
    me.game.go('resize', [0,0,w,h]);
},
onResize = function(){
    console.log('device resized');
    resize(this.innerWidth, this.innerHeight);
},
onLoad = function(){
    me.piAtlas.create('../res/img/fantasy-tileset.png', '../res/fantasy-tileset.json', function(err, tileSet){
        if (err) return alert(err);

        var
        gameStage = document.querySelector('div#gameStage'),
        reactor = me.piReactor,
        rect = me.picRect,
        renderer = me.picRenderer,
        game = me.game,
        sweeper = me.sweeperMap,
        camera = me.camera,
        uiPlayer = me.uiPlayer;

        canvas = me.piCanvas;
        canvas.init(gameStage);
        gameLayer = canvas.addLayer('game');

        renderer.registerContext('viewPane', gameLayer.getContext());

        reactor.addGroup(game);

        game.route('init', [sweeper.init]);
        game.route('update', [sweeper.update, renderer.draw]);
        game.route('move', [sweeper.explore, renderer.draw]);
        game.route('resize', [camera.resize, uiPlayer.resize, renderer.draw]);

        cameraEnt = game.createEntity('camera');
        uiPlayerEnt = game.createEntity('uiPlayer');

        cameraEnt.attach(rect, {x:0, y:0, width:100, height:100});
        cameraEnt.attach(camera, {});
        cameraEnt.attach(renderer, {viewPane:[camera.moduleName]});
        uiPlayerEnt.attach(uiPlayer, {});
        uiPlayerEnt.attach(renderer, {viewPane:[uiPlayer.moduleName]});

        smallDevice = window.innerWidth > 800 || window.innerHeight > 800 ? false : true;
console.log('smallDevice:', smallDevice, window.innerWidth, window.innerHeight);
        var tileSize = smallDevice ? 32 : 64;
        game.go('init', {tileSet:tileSet, tileWidth:tileSize, tileHeight:tileSize, mapWidth:8, mapHeight:8, mapLevel:0, heroJob:G_HERO.PRIEST});
        resize(window.innerWidth, window.innerHeight);
        canvas.slot(canvas.FINGER_DOWN, onMouseDown);
        window.addEventListener('resize', onResize, false);

        game.go('update');
    });
};

me.slot(pico.LOAD, onLoad);
</script>
