.__ #googlemap{
	display: flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	height:100%;
	width:100%;
}
.__ #googlemap svg{
	height:25px;
	width:25px;
	fill:none;
	stroke:#007AFF;
}
