#__ #layer0{
	width:100%;
	animation-name:unset;
}
@media (max-width:1024px){
    #__{
        animation-name: frameresize2;
    }
}

@media (max-width:568px){
    #__{
        animation-name: frameresize1;
    }
    #__>#layer0>div:nth-child(1){
        flex-basis:100%;
    }
    #__>#layer0>div:nth-child(2){
        display:none;
    }
}

@keyframes frameresize2 {
  from { clip: rect(1px, auto, auto, auto) }
    to { clip: rect(0px, auto, auto, auto) }
}
