@import url(Keypad.css);
.callscr{
	display:flex;
	background:maroon no-repeat center center fixed;
	background-size:cover;
	color:white;
	flex-direction:column;
	width:100%;
	height:100%;
    font-size: 5rem;
	justify-content:space-around;
}
.callscr .profile li{
	text-align:center;
	margin:1rem auto;
}
.callscr .profile .picture{
    width:30rem;
    height:30rem;
    border-radius:50%;
    display:block;
    background-position:50%;
    background-size:80rem;
}
.callscr .endcall{
    border: 1px solid red;
	background:red;
	color:#fff;
}
.callscr .endcall.down{
    border: 1px solid darkred;
	background:darkred;
	color:gray;
}
