.scrollable .row{
	flex:0 0 70px;
	font-size:1.2rem;
	border-bottom: 1px solid #b3b3b3;
	padding:0.5rem;
}
.scrollable .row .title{
	color:black;
	font-size:1.6rem;
	line-height:2rem;
}
.scrollable .row .info{
	color:#b3b3b3;
}
