#__ .scrollable .row{
	flex:0 0 50px;
	font-size:0.8rem;
	border-bottom: 1px solid #b3b3b3;
	padding:0.5rem;
}
#__ .scrollable .row .title{
	color:black;
	font-size:1rem;
	line-height:1.5rem;
}
#__ .scrollable .row .info{
	color:#b3b3b3;
}
