.card.job>header{
    border-radius:1rem 1rem 0 0;
    display:flex;
    padding:1rem;
    color:#fff;
}
.card.job>header .title{
    padding-left:1rem
}
.card.job>header .profile{
    width:50px;
    height:50px;
    border-radius:25px;
}
.card.job>footer{
    padding:1rem 1rem 1rem 7rem
}
.card.job{
    padding:1rem
}
.card.job .name {
  color: #000;
  font-size: 1.3rem;
}
.card.job .info {
  color: #949498;
  font-size: 1.1rem;
}
.card.job .info *{
    display:block;
}
.card.job button{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #FFBD18;
  text-transform: uppercase;
  font-size: 18px;
  color: #3F2F1F;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0;
  transition: letter-spacing 0.3s;
}
