.card.locker{
    padding:1rem
}
.card.locker .name {
  color: #000;
  font-size: 1.3rem;
}
.card.locker .info {
  color: #949498;
  font-size: 1.1rem;
}
.card.locker .info *{
    display:block;
}
.card.locker button{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #FFBD18;
  text-transform: uppercase;
  font-size: 18px;
  color: #3F2F1F;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0;
  transition: letter-spacing 0.3s;
}
