ul.menu{
  position:relative;
  flex-shrink:0;
  display:flex;
  justify-content:space-around;
}
ul.menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  width:4rem;
  height:4rem;
  margin:5px;
}
ul.menu li.selected use{
	stroke:#FC3768;
}
ul.menu li .icon {
  width: 3rem;
  height: 3rem;
}
ul.menu li .icon use{
  stroke-width: 2px;
}
