[submodule "apps/kiddytalk/app/mod/scrollable"]
	path = apps/kiddytalk/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/kiddytalk/app/mod/auth"]
	path = apps/kiddytalk/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
[submodule "apps/kiddytalk/app/mod/footer"]
	path = apps/kiddytalk/app/mod/footer
	url = https://github.com/ldarren/pico-mod-footer.git
[submodule "apps/kiddytalk/app/mod/header"]
	path = apps/kiddytalk/app/mod/header
	url = https://github.com/ldarren/pico-mod-header.git
[submodule "apps/lead/app/mod/footer"]
	path = apps/lead/app/mod/footer
	url = https://github.com/ldarren/pico-mod-footer.git
[submodule "apps/lead/app/mod/header"]
	path = apps/lead/app/mod/header
	url = https://github.com/ldarren/pico-mod-header.git
[submodule "apps/lead/app/mod/scrollable"]
	path = apps/lead/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/mindsair/app/mod/auth"]
	path = apps/mindsair/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
[submodule "apps/mindsair/app/mod/scrollable"]
	path = apps/mindsair/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/mindsair/app/mod/header"]
	path = apps/mindsair/app/mod/header
	url = https://github.com/ldarren/pico-mod-header.git
[submodule "apps/mindsair/app/mod/footer"]
	path = apps/mindsair/app/mod/footer
	url = https://github.com/ldarren/pico-mod-footer.git
[submodule "apps/mindsair/app/mod/native"]
	path = apps/mindsair/app/mod/native
	url = https://github.com/ldarren/pico-mod-native.git
[submodule "apps/jasy/app/mod/auth"]
	path = apps/jasy/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
[submodule "apps/jasy/app/mod/header"]
	path = apps/jasy/app/mod/header
	url = https://github.com/ldarren/pico-mod-header.git
[submodule "apps/jasy/app/mod/footer"]
	path = apps/jasy/app/mod/footer
	url = https://github.com/ldarren/pico-mod-footer.git
[submodule "apps/jasy/app/mod/scrollable"]
	path = apps/jasy/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/jasy/app/mod/dialog"]
	path = apps/jasy/app/mod/dialog
	url = https://github.com/ldarren/pico-mod-dialog.git
[submodule "apps/jasy/app/mod/panel"]
	path = apps/jasy/app/mod/panel
	url = https://github.com/ldarren/pico-mod-panel.git
[submodule "apps/glueon/app/mod/scrollable"]
	path = apps/glueon/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/glueon/app/mod/auth"]
	path = apps/glueon/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
[submodule "apps/glueon/app/mod/footer"]
	path = apps/glueon/app/mod/footer
	url = https://github.com/ldarren/pico-mod-footer.git
[submodule "apps/glueon/app/mod/dialog"]
	path = apps/glueon/app/mod/dialog
	url = https://github.com/ldarren/pico-mod-dialog.git
[submodule "apps/glueon/app/mod/header"]
	path = apps/glueon/app/mod/header
	url = https://github.com/ldarren/pico-mod-header.git
[submodule "apps/glueon/app/mod/panel"]
	path = apps/glueon/app/mod/panel
	url = https://github.com/ldarren/pico-mod-panel.git
[submodule "apps/spotchat/app/mod/auth"]
	path = apps/spotchat/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
[submodule "apps/spotchat/app/mod/native"]
	path = apps/spotchat/app/mod/native
	url = https://github.com/ldarren/pico-mod-native.git
