[submodule "apps/kiddytalk/app/mod/scrollable"]
	path = apps/kiddytalk/app/mod/scrollable
	url = https://github.com/ldarren/pico-mod-scrollable.git
[submodule "apps/kiddytalk/app/mod/auth"]
	path = apps/kiddytalk/app/mod/auth
	url = https://github.com/ldarren/pico-mod-auth.git
