body{
    background:white;
}
.splash{
    color:#eee;
    font-weight:bold;
    font-size:60px;
    text-align:center;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.hidden{
    display:none;
}
.access-left{
    padding-left:10px;
}
.access-right{
    padding-right:10px;
}
form input[type=file]{
    height:0px;
    overflow:hidden
}
img.media-object{
    height:64px;
    width:auto;
}
