#mindsair *, *:before, *:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#mindsair input,textarea{
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
#mindsair{
    display:flex;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
	pointer-events:none;
	z-index:999;
}
#mindsair input,button,select{
    outline:none;
    border:none;
}
#mindsair ul{
    list-style:none;
}
#mindsair .hidden{
    display:none !important;
}
#mindsair .invisible{
    visibility:hidden !important;
}
#mindsair .icon{
	cursor:pointer;
}
