*, *:before, *:after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#mindsair #layer0{
	width:100%;
	animation-name:unset;
}
@media (max-width:1024px){
    #mindsair{
        animation-name: frameresize2;
    }
}

@media (max-width:568px){
    #mindsair{
        animation-name: frameresize1;
    }
    #mindsair>#layer0>div:nth-child(1){
        flex-basis:100%;
    }
    #mindsair>#layer0>div:nth-child(2){
        display:none;
    }
}

@keyframes frameresize2 {
  from { clip: rect(1px, auto, auto, auto) }
    to { clip: rect(0px, auto, auto, auto) }
}
