*{
  margin:0;
  padding:0;
  overflow: hidden;
}
div.header{
  top:0;
  height:32px;
  right:0;
  left:0;
  -webkit-transition: height 0.1s ease-in;
}
div.content{
  top:32px;
  bottom:48px;
  right:0;
  left:0;
}
div.footer{
  bottom:0;
  height:48px;
  right:0;
  left:0;
  -webkit-transition: height 0.1s ease-in;
}
div.header,div.content,div.footer{ position:absolute;}
div.header{ background-color:#bcdcac;}
div.footer{ background-color:#bcdcac;}
div.content{
  background-color:#fff;
  overflow: auto;
}
div.hide{ display: none;}
