
.icon-search:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e806'; } /* '' */
.icon-settings:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-load:before { content: '\e813'; } /* '' */
.icon-alert:before { content: '\e814'; } /* '' */