<div>
<style>
div.listBox {
  font-family:'Lucida Casual', 'Comic Sans MS';
  font-size: 18px;
  color: black;
  background-color:white;
  border: 1px solid #fff;
  overflow: auto;
}
.msg{
  display: block;
  color:#000;
  padding: 10px;
  border: 1px solid #dcbcac;
}
</style>

<div id=chatHist class=listBox></div>

<script name=chatHist>
this.use('memolize');

var
me = this,
chatHist = document.getElementById('chatHist');

me.slot('load', function(){
  console.log('loaded');
  me.memolize.slot('message', function(){
    console.log('message');
    var span = document.createElement('span');
    span.setAttribute('class', 'msg');
    span.innerHTML = memolize.popMsg();
    chatHist.appendChild(span);
    chatHist.scrollTop = chatHist.scrollHeight;
  });
});

</script>
