body{
    display:flex;
    background: url(../dat/bg.jpg) no-repeat center center fixed;
    background-size:cover;
}
#layer1{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  z-index:1000;
}
#layer2{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  pointer-events: none;
  z-index:5000;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;
}
