.frame{
    position:relative;
    margin:auto;
    width:90%;
    min-width:1024px;
    max-width:1440px;
    height:calc(100% - 38px);
    animation-duration: 0.001s;
}
.layer{
    display:flex;
    position:absolute;
    height:100%;
    width:100%;
}
.layer:not(:first-child){
    background-color:rgba(0,0,0,0.5);
}
.layer:empty{
    display:none;
    visibility:hidden;
}
.frame>.layer .pane{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.frame>.layer>div:nth-child(1){
    flex-basis:60%;
}

@media (max-width:1024px){
.frame{
    width:100%;
    min-width:320px;
    height:100%;
    animation-name: frameresize2;
}
}

@media (max-width:568px){
.frame{
    animation-name: frameresize1;
}
.frame>.layer>div:nth-child(1){
    flex-basis:unset;
}
.frame>.layer>div:nth-child(2){
    display:none;
}
}

@keyframes frameresize2 {
  from { clip: rect(1px, auto, auto, auto) }
    to { clip: rect(0px, auto, auto, auto) }
}

@keyframes frameresize1 {
  from { clip: rect(1px, auto, auto, auto) }
    to { clip: rect(0px, auto, auto, auto) }
}
