header {
	flex:0 0 auto;
	display:flex;
	flex-direction: column;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	color:#fff;
	padding: 6rem 1.5rem 0;
	text-align: center;
}
header .menu-btn {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 1.8rem;
  height: 1.7rem;
  cursor: pointer;
}
header .menu-btn span, .menu-btn:before, .menu-btn:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
}
header .menu-btn span {
  top: 0.8rem;
}
header .menu-btn:before {
  content: "";
  top: 0;
}
header .menu-btn:after {
  content: "";
  bottom: 0;
}
header .icon {
  position: absolute;
  top: 2rem;
}
header .icon.search {
  right: 1.5rem;
  stroke-dasharray: 61.847137451171875;
  stroke-dashoffset: 61.847137451171875;
  -webkit-animation: animatePath 0.5s 0.5s forwards;
          animation: animatePath 0.5s 0.5s forwards;
}
header>h1{
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}
header .user {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 9rem;
  margin: 0 auto 3rem;
}
header .user-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55);
  transition: -webkit-transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55);
  transition: transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55);
  transition: transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55), -webkit-transform 0.3s 0.2s cubic-bezier(0.62, 0.35, 0.56, 1.55);
  -webkit-transform: scale(0);
          transform: scale(0);
}
header .user-notif {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  text-align: center;
  background: #50D2C2;
  font-size: 1.5rem;
}
header .month:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom:2rem;
}
header .month-name {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  text-transform: uppercase;
}
header .month-btn {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}
header .month-btn.left {
  float: left;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
header .month-btn.right {
  float: right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .tabs{
	display:flex;
}
header .tabs li{
	font-size: 1.2rem;
    padding-bottom: 1.6rem;
	color:rgba(255,255,255,0.5);
	cursor:pointer;
}
header .tabs li.selected{
	color:unset;
	border-bottom: #50D2C2 5px solid;
}
