.fulpage{
    display:flex;
    flex-direction:column;
    position:relative;
    width:100%;
    height:100%;
    transform:scale(1.2);
}
.fulpage.active{
    transform:scale(1);
}
.fulpage .animPop{
    transform:scale(0);
}
.fulpage .animSlide{
    transform:translateY(-50%);
}
.fulpage.active .anim{
    transform:scale(1);
    transform:translateY(0);
    opacity:1;
}
