.card{
    display:flex;
	flex-direction:column;
    flex-shrink:0;
    border-radius:1rem;
    background:#fff;
    margin:0.5rem;
    font-size:12px;
}
.card .color-purple{ background:#BA68C8 }
.card .color-green{ background:#52A43A }
.card .color-orange{ background:#F7AA17 }
.card .color-red{ background:#EF5350 }
