@import url(scrollable/style.css);
ul.scrollable>div.button{
	position: relative;
    background-color: #FFBD18;
    text-transform: uppercase;
    font-size: 18px;
	line-height:4rem;
	text-align:center;
    color: #3F2F1F;
    border-radius: 8px;
    cursor: pointer;
}
