body{
    background:#555;
}
.splash{
    color:#eee;
    font-weight:bold;
    font-size:60px;
    text-align:center;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.hidden{
    display:none;
}

.row{
    border-bottom: 1px solid #eee;
}
.row:hover{
    background-color:#ddd;
}
.item{
    cursor: pointer;
    padding: 2px 0;
}
.page:before{
    content:'\00a0'
}
.control{
    display:block;
    text-align:center;
}
.subItem{
    display:block;
}
.subItem:before{
    content:' - '
}
.selected{
    background-color:#555;
    color:#eee;
}
.leftBar{float:left}
.rightBar{float:right}
.icon{
    float: right;
    font-size:14px;
    line-height:16px;
    width:16px;
    text-align:center;
    cursor: pointer;
}
