html{
	font-size:62.5%;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
	color:#fccdd3;
}
html,body{
	height:100%;
}
*{
	padding:0;
	margin:0;
}
body{
	display:flex;
	flex-direction:row;
}
.hidden{
	display:none !important;
}
.truncate{
	text-overflow: ellipsis;
}
#menu{
	flex: 4rem 0 0;
	display:flex;
	flex-direction:column;
	background:black;
	color:#bbc4ef;
}
#pane0{
	flex: 40% 1 1;
	display:flex;
	flex-direction:column;
	min-width:25rem;
	max-width:40rem;
	border-right:1px solid #bbc4ef;
	background:#62bcfa;
}
#pane1{
	flex: 60% 2 2;
	display:flex;
	flex-direction:column;
	background:#62bcfa;
}
