<body>
<header class="bar bar-nav">
    <a href="#popover/options"><h1 class="title">VIP<span class="icon icon-caret"></span></h1></a>
    <a class="icon icon-search pull-right"></a>
</header>

<div class="content">

<script id=shopTempl type=text/templ>
<li class="table-view-cell media">
<a class="navigate-right" href="<%= link %>" data-transition="slide-in">
<img class="media-object pull-left" src="<%= profile %>">
<div class="media-body"><%= title %>
<p><%= tags.join('.') %></p>
</div>
</a>
</li>
</script>

<div class="card">
<ul class="table-view">
</ul>
</div>

</div>

</body>
